<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/Cadastro-styles.css">
  <title>Cadastro | APP Eventos</title>
</head>

<body>
  <div class="caixa">
    <div class="header">
      <div class="informacao">
        <h1>Criar conta</h1>
        <small>Crie sua conta e tenha total acesso a criação <br> e listagem de eventos pertinho de você <br> cadastro.</small>
      </div>
    </div>
    <div class="formulario">
      <form>
       
          <label for="name">Nome</label>
          <input id="name" type="text" name="name" placeholder="Nome">

          <label for="email">E-mail</label>
          <input id="email" type="email" name="email" placeholder="E-mail">

          <label for="password">Senha</label>
          <input id="password" type="password" name="password" placeholder="Senha">

          <button type="submit">Criar conta</button>
          <a href="/">já possui uma conta?</a>
        </form>
</body>

</html>