<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/eventos-styles.css">

  <title>Eventos | APP Eventos</title>
</head>

<body>
  <div class="caixa">
    <div class="header">
      <div class="informacao">
        <h1 class="titulo">Listagem de eventos</h1>
        <small>Crie sua conta e tenha total acesso a criação <br> e listagem de eventos pertinho de você 👀👀</small>
      </div>
    </div>
    <section class="formulario">
      <a href="criar-evento">
        <button type="submit">Criar evento</button>
      </a>

      <h2>Eventos</h2>

      <ul class="eventos">
        <li>
          Título do evento - 10/10/2024 - Gavião Peixoto
        </li>
        <li>
          Título do evento - 10/10/2024 - Gavião Peixoto
        </li>
        <li>
          Título do evento - 10/10/2024 - Gavião Peixoto
        </li>
        <li>
          Título do evento - 10/10/2024 - Gavião Peixoto
        </li>
      </ul>

    </section>
  </div>
</body>

</html>