<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/login-styles.css">
  <title>Entrar | APP Eventos</title>
</head>

<body>
  <div class="caixa">
    <div class="header">
      <div class="informacao">
        <h1 class="titulo">faça seu login</h1>
        <small>Entre na sua conta e seja feliz criando seus eventos <br> e visualizando de outras pessoas.</small>
      </div>
    </div>
    <div class="formulario">
      <form>
        <h2>Informações do Evento</h2>
    <label for="email">E-mail</label>
    <input id="email" type="email" name="email" placeholder="E-mail">

    <label for="password">Senha</label>
    <input id="password" type="password" name="password" placeholder="Senha">

    <button type="submit">Entrar no App</button>
    <a href="/criar-conta">nâo possui conta? Crie uma agora</a>
  </form>
</body>

</html>